/* CSS para el footer fijo
-------------------------------------------------- */

body {
    /* Margin bottom by footer height */
    padding-bottom: 60px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.form-footer {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
